
@import '../../../../assets/variables';

.parent-header {
    background: $header-color;
}

.header-Navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.navogation-header-ul {
    .list-of-UL{
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        padding: 0px;
        margin: 0px;
        list-style: none;
        .nav-item{
            .nav-link{
                font-size: 15px;
                color: $heading;
                font-weight: 400;
                &:hover{
                    color: $primary;
                }
            }

        }

    }
   
}

.logo-div{
    .tittle-logo {
        font-size: 30px;
        color: white;
        margin-bottom: 0px;
    }

}

