<section class="section-page-login">
    <div class="container">

        <div class="row">
            <div class="col-md-10 mx-auto">
             
                <div class="parent-block-image-form">
                 
                        <form class="w-100" #userLogin="ngForm" (ngSubmit)="onLogin(userLogin.value)">
                           
                            <div class="login-form-main">
                                <h1 class="tittle-name">User Login</h1>
                              
                                <div class="input-cstm">
                                   <input type="email" ngModel name="email" placeholder="Enter Email">
                   
                               </div>
                                <div class="input-cstm">
                                    <input type="password" ngModel name="password" placeholder="Enter Password">
                    
                                </div>
                                <!-- <p *ngIf="hideEror" class="error-block">
                                    <span>
                                        {{authError}}
                                    </span>
                                </p> -->
                              
                    
                                <div class="btn-common">
                                    <button class="btn btn-primary w-100 mt-2">Login</button>
                                    <!-- <p (click)="onclickbtn()">toaster</p> -->
                                    <h2 class="lin-click-a">Don't have an account? Click here to <a routerLink="/register">SignUp</a></h2>
                                </div>
                    
                            </div>
                           </form>
                     

                       <div class="right-side-block-content-login">
                        <div class="inner-wrapper">
                            <h2 class="tittle-welcome">Welcome Back!</h2>
                            <p>We're glad to see you again. Your account is just a click away – log in now to continue where you left off and explore new features we've added just for you.</p>
                        </div>
                   </div>

                </div>
            
        
        
            </div>
        
            
        </div>
    </div>
</section>