
@import '../../../assets/variables';

.lin-click-a {
    font-size: 18px;
    text-align: center;
    color: $text;
    margin-top: 20px;
    span,a{
        color: $primary;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color: $secondary;
        }
    }
}

.error-block {
    background: #f8d7da;
    border-radius: 10px;
    color: #721c24;
    /* text-align: center; */
    span {
        display: block;
        padding: 10px 20px;
    }
}