<div class="custon-checkbox-all">
    <label class="container-checkbox">
      <input type="checkbox" [checked]="checked" (change)="onCheckboxChange($event)" [disabled]="disabled">
      <span class="checkmark"></span>
    </label>
  </div>