
<section class="section-page-login">
    <div class="container">

        <div class="row">
            <div class="col-md-10 mx-auto">
               <div class="parent-block-image-form">
                <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" >
                    <div class=" login-form-main">
                        <h1 class="tittle-name">User SignUp</h1>
                        <div class="input-cstm">
                            <input type="text" ngModel name="name" placeholder="First Name">
            
                        </div>
                        <div class="input-cstm">
                            <input type="text" ngModel name="lastname" placeholder="Last Name">
            
                        </div>
                        <div class="input-cstm">
                            <input type="email" ngModel name="email" placeholder="Enter Email">
            
                        </div>
                        <div class="input-cstm">
                            <input type="password" ngModel name="password" placeholder="Enter Password">
            
                        </div>
                       
            
                        <div class="btn-common">
                            <button class="btn btn-primary w-100 mt-2">SignUp</button>
                            <h2 class="lin-click-a">Don't have an account? Click here to <a routerLink="/login">Login</a></h2>
                        </div>
            
                    </div>
                   </form>

                   <div class="right-side-block-content-login">
                        <div class="inner-wrapper">
                            <h2 class="tittle-welcome">Welcome Back!</h2>
                            <p>We're glad to see you again. Your account is just a click away – log in now to continue where you left off and explore new features we've added just for you.</p>
                        </div>
                   </div>


               </div>
        
            </div>
        
            
        </div>
    </div>
</section>

