<ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="'input'" class="input-parent-style">
      <input class="cstm-input-width-set" *ngIf="field.isEditable" type="text" [value]="data">
      <ng-container *ngIf="!field.isEditable">{{data}}</ng-container>
      
    </ng-container>

    <ng-container *ngSwitchCase="'email'" class="input-parent-style">
      <input class="cstm-input-width-set" *ngIf="field.isEditable" type="text" [value]="data">
      <ng-container *ngIf="!field.isEditable"><span class="email-width-block-">{{data}}</span></ng-container>
      
    </ng-container>

    <ng-container *ngSwitchCase="'number'" class="input-parent-style">
      <input class="cstm-input-width-set" *ngIf="field.isEditable" type="text" [value]="data">
      <ng-container *ngIf="!field.isEditable"><span class="email-width-block-">{{data}}</span></ng-container>
      
    </ng-container>


    <ng-container *ngSwitchCase="'date'">
      <input class="cstm-input-width-set" *ngIf="field.isEditable" type="date" [value]="data">
      <ng-container *ngIf="!field.isEditable">
        {{ data | date:'short' }}
        <!-- {{data}} -->
      </ng-container>
    </ng-container>


    <ng-container *ngSwitchCase="'object'">
      <input class="cstm-input-width-set" *ngIf="field.isEditable" type="text" [value]="data">
      <ng-container *ngIf="!field.isEditable">{{data?.title}}</ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'image'">
      <input class="cstm-input-width-set" *ngIf="!field.showColumn" type="text" [value]="data">
      <ng-container *ngIf="field.isEditable"><span class="width-set-image-block">{{data}}</span></ng-container>
    </ng-container>


    <ng-container *ngSwitchCase="'checkbox'">
      <div class="checkbox-radio-main">
        <app-checkbox  [checked]="field.title" [disabled]="!field.isEditable" (checkedChange)="onFieldChangeCheck()"></app-checkbox> 
        
    </div>
    </ng-container>
    <ng-container *ngSwitchCase="'radio'">
      <app-radio-button  [checkedRadio]="field.title" [disabled]="field.isEditable" (checkedChange)="onFieldChangeRadio()"></app-radio-button>
    </ng-container>

    <ng-container *ngSwitchCase="'toggle'">
      <app-switch-toggle  [checkedToggleSwitch]="field.title" [disabled]="field.isEditable" (checkToggleSwitch)="onFieldChangeToggleSwitch()"></app-switch-toggle>
    </ng-container>

    <ng-container *ngSwitchCase="'array'" class="input-parent-style">
      <div *ngFor="let item of data; let i = index">
        <ng-container *ngIf="!field.isEditable">
          <span class="email-width-block-">{{ item }}</span>
          <span *ngIf="i < data.length - 1" class="email-width-block-">, </span>
        </ng-container>
      </div>
  </ng-container>
   



    <!-- Add more cases for different types of fields -->
  </ng-container>