
@import '../../../../assets/variables';
.custom-serach-all{
    .table-search {
        display: flex;
        align-items: center;
        column-gap: 10px;
        .input-cstm {
            width: 300px;
            position: relative;
            input{
                margin-bottom: 0px;
                padding-left: 35px;
            }
            .search-icon {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: $primary;
            }
        }
        
    }

}

.checkbox-radio-main{
    background: none !important;
    display: flex;
    column-gap: 10px;
    .custon-checkbox-all {
        background: none !important;
        position: relative;
        .container-checkbox {
            position: static !important;
        }
        .checkmark{
            top: -1px;
        }
    }
}


.cstm-input-width-set {
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 7px 10px;
    &:focus{
        outline: 0 !important;
        box-shadow: none;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.width-set-image-block{
    width: 100px;
}

// .email-width-block- {
//     display: block;
//     width: 105px;
// }