<!-- <div class="dashboard">
    <div class="chart-container">
        <canvas baseChart
        [data]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [plugins]="barChartPlugins">
</canvas>
    </div>
  </div> -->

  <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart>
  <div class="second-chart">
    <apx-chart [series]="seriesTwo" [chart]="chartTwo" [title]="titleTwo"></apx-chart>
  </div>