<app-table  [tableConfig]="tableConfig"  (editClicked)="onEditItem($event)"  (search)="onSearch($event)"></app-table>


<!-- <button class="btn btn-primary" (updateDataReceived)="handleDataUpdate()">updated .. data</button> -->
