
@import '../../../../assets/variables';

.custom-modal-wrapper{
    padding: 20px;
    .modal-header {
        align-items: center;
        justify-content: center;
        border: none;
        padding-bottom: 0px;
        .modal-title {
            font-size: 23px;
            text-align: center;
            display: block;
            color: $primary;
            font-weight: 600;
        }
    }

    .btn-close-1 {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        opacity: 1;
        color: $white;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .modal-body p {
        text-align: center;
        padding-top: 0px;
    }

}

.custom-modal-footer {
    border: none;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    .btn{
        width: 100%;
    }
}