<div class="custom-modal-wrapper">
    <div class="modal-header">
        <h4 class="modal-title">Delete Item Confirmation</h4>
        <button type="button" class="btn btn-close-1" (click)="activeModal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ item.name }}?</p>
        
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem()">Delete</button>
      </div>
</div>



