
@import '../../../../assets/variables';

.customTable {
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 20%);
    td{
        padding: 15px;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        &:last-child{
            border-right: none;
            border-bottom: none;
        }
    }
    .active{
        td{
            background: #f5f3f1;
        }
        .icon-add-delete-view{
            background: #f5f3f1;
        }
    }
}

.table-header th {
    padding: 10px;
    background: $primary;
    color: $white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    
}


.icon-add-delete-view{
    display: flex;
    column-gap: 10px;
    padding: 0px;
    .inner-wrapper-icon {
        display: block;
        width: 30px;
        height: 30px;
        background: $primary;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        cursor: pointer;
        a{
            color: $white;
        }
        &:hover{
            background: $secondary;

            
        }
    }

}



.custom-serach-all{
    .table-search {
        display: flex;
        align-items: center;
        column-gap: 10px;
        .input-cstm {
            width: 300px;
            position: relative;
            input{
                margin-bottom: 0px;
                padding-left: 35px;
            }
            .search-icon {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: $primary;
            }
        }
        
    }

}

.checkbox-radio-main{
    background: none !important;
    .custon-checkbox-all {
        background: none !important;
        position: relative;
        .container-checkbox {
            position: static !important;
        }
        .checkmark{
            top: -1px;
        }
    }
}

app-fields-type {
    background: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 13px;
    word-break: break-all;
}

// .sort-asc::after {
//     content: ' ▲';
//   }
  
//   .sort-desc::after {
//     content: ' ▼';
//   }  