<section class="common-sec-dashboard-padding">
  <div class="">
    <div class="row">
     <div class="col-md-12">
      <div class="tabel-main-parent" >
        <table class="table customTable">
       
         <thead>
          <tr>
            <td colspan="18">
                <div class="custom-serach-all d-flex justify-content-end">
                    <div class="table-search">
                        <div class="input-cstm">
                            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input  type="text"  name="Search" placeholder="Search"  [(ngModel)]="searchQuery" (input)="onSearch()">
                        </div>
                        <!-- <button class="btn btn-primary" (click)="onSearch()">Search</button> -->
                       
                    </div>
                </div>
            </td>
           </tr>
          <tr class="table-header">
            <ng-container *ngFor="let column of tableConfig.tableColumns">
              <ng-container *ngIf="column.showColumn">
                <th scope="col" class="cell" (click)="sortTable(column.columnKey)">
                  {{ column.title }}
                  <span [ngClass]="getSortClass(column.columnKey)"></span>
                </th>
            </ng-container>
             
            </ng-container>
            
          </tr>
         </thead>
         
         <tbody>
          <tr *ngFor="let item of tableConfig.tableData" [ngClass]="{ 'active': item.isActive }">
            <ng-container *ngFor="let column of tableConfig.tableColumns; let i=index">
              <ng-container *ngIf="column.showColumn">
              <td scope="row" >
                <ng-container *ngIf="i < tableConfig.tableColumns.length - 1 ">
                
                  <app-fields-type [field]="column" [data]="item[column.columnKey]"></app-fields-type>
                
                </ng-container>
                <ng-container *ngIf="i === tableConfig.tableColumns.length - 1">
                  <div class="icon-add-delete-view">
                    <a *ngIf="tableConfig.tableActions.includes('edit')" (click)="onUpdateClick(item)">
                      <span class="inner-wrapper-icon">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </span>
                    </a>
                    <a *ngIf="tableConfig.tableActions.includes('delete')" (click)="onDeleteClick(item)">
                      <span class="inner-wrapper-icon">
                        <i class="fa-solid fa-trash"></i>
                      </span>
                    </a>
                    <a  *ngIf="tableConfig.tableActions.includes('view')" (click)="onViewClick()">
                      <span class="inner-wrapper-icon">
                        <i class="fa-solid fa-eye"></i>
                      </span>
                    </a>
                  </div>
                </ng-container>
              </td>
            </ng-container>
            </ng-container>
          </tr>
         </tbody>
          
          
        </table>
      </div>
     </div>
  </div>
  </div>
    
    
     
</section>