
@import '../../../../assets/variables';

.custom-switch-all{
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 24px;
        
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 100px;
        border: 2px solid $border-color;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 1px;
        background-color: #b9afaf;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 100%;
      }
      
      input:checked + .slider {
        background-color: $secondary;
        border: 2px solid $secondary;
        box-shadow: none;
        &::before{
          background: $white;
        }
      }
      
      input:focus + .slider {
        box-shadow: none !important ;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
      }      

}

.custom-switch-all input:disabled + .slider {
    cursor: not-allowed !important;
}