


<div class="custom-switch-all">
  <label class="switch">
    <input type="checkbox" [checked]="checkedToggleSwitch" (change)="onClickedToggleSwitch($event)" [disabled]="disabled">
    <span class="slider round"></span>
  </label>
</div>
