
@import '../../../../assets/variables';

.custom-modal-wrapper{
    padding: 20px;
    .modal-header {
        align-items: center;
        justify-content: center;
        border: none;
        padding-bottom: 0px;
        .modal-title {
            font-size: 23px;
            text-align: center;
            display: block;
            color: $primary;
            font-weight: 600;
        }
    }

    .btn-close-1 {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        opacity: 1;
        color: $white;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .modal-body p {
        text-align: center;
        padding-top: 0px;
    }

}

.custom-modal-footer {
    border: none;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    .btn{
        width: 100%;
    }
}

.custom-form-group{
    margin-bottom: 10px;
    label{
        margin-bottom: 7px;
    }
    input{
        margin-bottom: 3px;
    }
}

.parent-block-flex-num {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
    .main-block-content {
        background: $secondary;
        position: relative;
        display: inline-block;
        padding: 14px 15px;
        border-radius: 5px;
        color: white;
        font-size: 13px;
        .cross-btn {
            position: absolute;
            top: -5px;
            right: -5px;
            background: $primary;
            display: inline-block;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

