<div class="custom-modal-wrapper">
  <div class="modal-header">
    <h4 class="modal-title">Update {{ headingTitle }}</h4>
    <button type="button" class="btn btn-close-1" (click)="activeModal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form">
    <div class="modal-body px-0">
      <div *ngFor="let field of getFormConfig" class="form-group custom-form-group">
        <label>{{ field.label }}</label>
        <ng-container [ngSwitch]="field.type">
          <div class="input-cstm" *ngSwitchCase="'text'">
            <input [formControlName]="field.name" type="text" [placeholder]="field.label" class="form-control" />
          </div>
          <div class="input-cstm" *ngSwitchCase="'email'">
            <input [formControlName]="field.name" type="email" [placeholder]="field.label" class="form-control" />
          </div>
          <div class="input-cstm" *ngSwitchCase="'dropdown'">
            <ng-select class="ng-custom-select"
              [items]="field.data"
              bindValue="id"
              bindLabel="title"
              [placeholder]="selectedRole ? selectedRole.title : 'Select a ' + field.label"
              [formControlName]="field.name"
              (change)="onRoleSelect($event)">
            </ng-select>
          </div>
          <div class="input-cstm" *ngSwitchCase="'array'">
            <div formArrayName="phone_no">
              <div>
                <input 
                  #inputData 
                  type="number" 
                  [placeholder]="field.label" 
                  class="form-control" 
                  (keydown.enter)="addInput(inputData.value, field.name); inputData.value=''" 
                />
              </div>
              <div class="parent-block-flex-num" >
                <div *ngFor="let data of form.get(field.name)?.value; let i = index">
                  <div class="main-block-content">
                    <span>{{ data }}</span>
                    <span class="cross-btn" (click)="removeInput(i, field.name)">&times;</span>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>

              <div class="input-cstm" *ngSwitchCase="'toggle'">
                <ng-container class="form-control">
                  <div class="custom-switch-all">
                    <label class="switch">
                        <input type="checkbox" [formControlName]="field.name">
                        <span class="slider round"></span>
                      </label>
                </div>
                </ng-container>
              
              </div> 

            <div class="input-cstm" *ngSwitchCase="'checkbox'">
              <ng-container [formControlName]="field.name" type="checkbox" class="form-control">
                  <app-checkbox></app-checkbox>
              </ng-container>
            
          </div>




          <!-- Add other input types here as needed -->
        </ng-container>
        <div *ngIf="form.controls[field.name].invalid && (form.controls[field.name].dirty || form.controls[field.name].touched)">
          <div *ngFor="let validation of field.validations">
            <div *ngIf="form.controls[field.name].hasError(validation.name)" class="error-tittle-color">
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer custom-modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Update</button>
    </div>
  </form>
</div>
