<div class="custon-radio-all">
    <label class="container-checkbox">
        <input type="radio"  name="radio" [checked]="checkedRadio" (change)="onCheckboxChange($event)" [disabled]="disabled">
        <span class="checkmark"></span>
      </label>

</div>