
@import '../../../../assets/variables';


.custon-radio-all {
    background: none !important;
    position: relative;
    .container-checkbox {
        position: static !important;
        padding-left: 26px;
    }
    .checkmark{
        top: -1px;
    }
}

.custon-radio-all .container-checkbox input:disabled + .checkmark {
    cursor: not-allowed !important;
}