
// we dont need to import variable file here 
.btn-primary {
    background: $primary;
    border-color: $primary;
    border-radius: 10px !important;
    color: $white;
    height: 50px;
    &:focus{
            outline: 0 !important;
            box-shadow: none !important;
    }
    &:hover{
        background: $secondary;
        border-color: $secondary;
    }
    &:active{
        background: $secondary !important;
        border-color: $secondary !important;
    }
}


.btn-secondary {
    background: $secondary;
    border-color: $secondary;
    border-radius: 10px !important;
    color: $white;
    height: 50px;
    &:focus{
            outline: 0 !important;
            box-shadow: none !important;
    }
    &:hover{
        background: $primary;
        border-color: $primary;
    }
    &:active{
        background: $primary !important;
        border-color: $primary !important;
    }
}