

// $primary: #48b649;
// $secondary: #ff4f00;
$header-color: #F5F3F1;
$footer-color:#F5F3F1;
$primary: #48b649;
$secondary: #e67e22;
$heading: #000;
$heading-2:#333;
$text: #666;
$text-2: #999;
$input-text-color: #999;
$label-color: #ccc;
$placeholder: #adb5bd;
$border-color: #eee;
$white: #fff;
$error-color: #ff0018;


