@import '../../../assets/variables';


.parent-wrapper-dashboad-content {
    display: flex;
    width: 100%;
}
  .main {

    width: 100%;
    padding-bottom: 100px;
    
  }
  
  .content {
    background-color: #fff;
    padding: 20px 0px;
    padding-top: 100px;
    
  }

  .tittle-heading-dashboard{
    text-align: center;
  }
  .content-p-dash{
    text-align: center;
  }

  app-dashboard-sidebar{
    background: $primary;
  }
  