

<!-- <router-outlet> -->
    <app-header></app-header>
    <body>
       <div class="parent-wrapper-dashboad-content">
       <app-dashboard-sidebar></app-dashboard-sidebar>
          <main class="main">
            <section class="content">
                <div class="container-fluid">
                    <router-outlet> </router-outlet>
                </div>
            </section>
          </main>
       </div>
      </body>
    <app-footer></app-footer>
<!-- </router-outlet> -->
