/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'bootstrap/scss/bootstrap';
@import 'assets/variables';
@import 'assets/button';
@import 'assets/scss/sidebar';
@import 'assets/scss/mixins';





body {
    font-family: 'Poppins', sans-serif !important;
}


.section-page-login {
    // background: rgba($primary, 0.5);
    background: linear-gradient(135deg, $primary 20%, $secondary 105%);
    height: 100vh;
}


.parent-block-image-form {
    display: flex;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 20px;
    margin-top: 100px;
    background: white;
    form{
        width: 100%;
    }
}

.right-side-block-content-login {
    width: 50%; 
    min-width: 50%; 
    background: $primary;
    border-radius: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
    .tittle-welcome {
        font-size: 28px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin-bottom: 0px;
        line-height: 27px;
    }
}



.login-form-main {
    
    .tittle-name {
        font-size: 27px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        color: $primary;
    }
}

.ng-custom-select{
    input{
        height: unset !important;
        margin-bottom: 0px !important;
    }
    .ng-select-container{
        height: 50px !important;
        border: 1px solid $border-color !important;
        background: white ;
        font-size: 16px !important;
        border-radius: 10px !important;
        color: $input-text-color !important;
        box-shadow: none !important;
        outline: 0 !important;
        line-height: 40px !important;
        padding-left: 5px;
    }
}




.input-cstm{
   
    input{
        height: 50px;
        width: 100%;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid $border-color;
        background: white;
        font-size: 16px;
        border-radius: 10px;
        font-weight: 400;
        color: $input-text-color !important;
        &::placeholder{
            font-size: 16px;
            font-weight: 400;
            color: $placeholder;
        }
        &:focus{
            outline: 0 !important;
            box-shadow: none;
            border: 1px solid $border-color;
        }
    }
    textarea{
        height: 100px;
        width: 100%;
        margin-bottom: 9px;
        padding: 15px;
        border: 1px solid $border-color;
        background: white;
        font-size: 16px;
        border-radius: 10px;
        resize: none;
        font-weight: 400;
        color: $text-2;
        &::placeholder{
            font-size: 16px;
            font-weight: 400;
            color: $placeholder;
        }
        &:focus{
            outline: 0 !important;
            box-shadow: none;
        }

    }
}



.message-show-product {
  
    background: green;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-align: left;
}


.home-banner-page{
    
.carousel-control-prev, .carousel-control-next{
    display: none;
}
span.visually-hidden {
    display: none;
}
.carousel-caption{
    bottom: 50px;
}
.carousel-indicators{
    bottom: 50px;
    button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: none;
        margin: 0px 4px;
        background: transparent;
        border: 1px solid #fff;
        &.active{
            background: #1c388b;
        }
    }
}

}

.picsum-img-wrapper{
    position: relative;
    height: 550px;
    img{
        width: 100%;
    }
    .overy-lay {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: rgb(0 0 0 / 50%);
    }
}

.button-block .btn-primary{
    background: #1c388b !important;
    border: 1px solid #1c388b !important;
    &:hover{
        background: #fb88b9 !important;
        border: 1px solid #fb88b9 !important;
    }
}

.button-block .btn-secondary{
    background: #fb88b9 !important;
    border: 1px solid #fb88b9 !important;
    &:hover{
        background: #1c388b !important;
        border: 1px solid #1c388b !important;
    }
}

.ancher-handle-a{
    text-decoration: none !important;
}

a{
    text-decoration: none !important;
}

.error-message-1 {
    font-size: 14px;
    margin: 0px;
    position: relative;
    top: -10px;
    color: red;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin)* 2);
}

.custon-checkbox-all{
    background: none !important;
    .container-checkbox {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default checkbox */
      .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 4px;
        background-color: $primary;
      }
      
      /* On mouse-over, add a grey background color */
      .container-checkbox:hover input ~ .checkmark {
        background-color: $secondary;
      }
      
      /* When the checkbox is checked, add a blue background */
      .container-checkbox input:checked ~ .checkmark {
        background-color: $secondary;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container-checkbox input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .container-checkbox .checkmark:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

}





.custon-radio-all{
    background: none !important;
    .container-checkbox {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default radio button */
      .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $white;
        border-radius: 50%;
        border: 2px solid $primary;
      }
      
      /* On mouse-over, add a grey background color */
    //   .container-checkbox:hover input ~ .checkmark {
    //     background-color: #ccc;
    //   }
      
      /* When the radio button is checked, add a blue background */
      .container-checkbox input:checked ~ .checkmark {
        background-color: $white;
        border: 2px solid $secondary;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
      .container-checkbox input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
      .container-checkbox .checkmark:after {
        top: 6px;
        left: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
          background: $secondary;
      }

}

.error-tittle-color{
    color: $error-color;
}


.custom-switch-all{
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 24px;
        
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 100px;
        border: 2px solid $border-color;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 1px;
        background-color: #b9afaf;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 100%;
      }
      
      input:checked + .slider {
        background-color: $secondary;
        border: 2px solid $secondary;
        box-shadow: none;
        &::before{
          background: $white;
        }
      }
      
      input:focus + .slider {
        box-shadow: none !important ;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
      }      

}

.custom-switch-all input:disabled + .slider {
    cursor: not-allowed !important;
}