

<aside class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <a routerLink="./dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    </li>
    <li>
      <a routerLink="./user" routerLinkActive="active">Users</a>
    </li>
    <li>
      <a routerLink="./customers" routerLinkActive="active">Customers</a>
    </li>
  
    <!-- <li>
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </li> -->
    <div class="logout-div">
      <button class="btn btn-secondary w-100" (click)="logOutDashboard()">Logout</button>
    </div>
  </ul>
</aside>
