@import '../../../../assets/variables';


  
  .sidebar {
    // background: linear-gradient(to bottom, $primary 0%, $primary 0%, $primary 21%, $primary 52%, $secondary 78%, $secondary 100%);

    background: $primary;
    color: #fff;
    width: 200px;
    min-width: 200px;
    height: 100vh;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    margin: 0px 0;
  }
  
 
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
  }
  
  .sidebar-menu li a:hover {
    background-color: $secondary;
  }

  .logout-div{
    padding: 10px;
  }

  .btn-secondary{
    &:hover{
        border: 2px solid $secondary;
    }
  }

  .sidebar-menu li a.active {
    color: #fff;
    background-color: $secondary; 
  }
  